.project{
    margin:50px 0px;
    margin-left:90px ;
    
}

.project hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
  }
  
  .project h2 {
    font-weight: bold;
    color: #138781;
  }

  #ads{
    margin:30px 0px 30px 0px;
  }

  #ads .card-notify-badge{
    position: absolute;
    background-color:#f29f67 ;
    margin-top: -30px;
    /* margin-left: 0px; */
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
  }
 .card-image img{
  height: 150px;
  width: 100%;
 }

 .card-detail-badge{
 background-color: #37e21c;
 border-radius:30px 30px 30px 30px ;
 padding: 5px 10px;
 font-size: 14px;
 }


 .card-image-overly span {
  display: inline-block;
  font-weight: bold;
   /* color: white; */
 } 

.ad-btn{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
  height: 40px;
  font-weight: 700;
   text-align: center;
   line-height: 30px;
  margin: 20px auto 20px auto;
  font-size: 16px;
  background-color: #138781;
  color: white;
  border-radius: 80px;
  padding: 5px;
}
.card-rounded:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  transition: all 1s ease;
}

.ad-btn:hover {
  background-color: white;
  color: #138781;
  background: transparent;
  border: 2px solid #138781;
  transition: all 0.5s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

/* =============================== */
@media (max-width: 600px) {
  .project {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .project hr {
    width: 280px;
  }
  .project .card {
    margin-top: 30px;
  }
}